<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="error.html" responseMode="File" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Redirect-old-page1" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/methods/decode.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page2" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/methods/index.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page3" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/methods/initialize-and-destroy.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page4" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/methods/parameter-and-runtime-settings.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page5" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/methods/results.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page6" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/accessors.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page7" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/index.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page8" enabled="true" stopProcessing="true">
          <match url="BarcodeReader/properties.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeReader.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page9" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/methods/camera-controls.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page10" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/methods/capture-settings.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page11" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/methods/index.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page12" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/methods/inherited.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page13" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/methods/initialize-and-destroy.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page14" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/methods/runtime-settings.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page15" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/accessors.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page16" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/index.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page17" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/interfaces.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page18" enabled="true" stopProcessing="true">
          <match url="BarcodeScanner/properties.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/BarcodeScanner.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect-old-page19" enabled="true" stopProcessing="true">
          <match url="global-interfaces.html" ignoreCase="true" />
          <action type="Redirect" url="https://www.dynamsoft.com/barcode-reader/docs/web/programming/javascript/api-reference/index.html" redirectType="Permanent" />
        </rule>
        <action type="Redirect" url="" redirectType="Permanent" />
      </rules>
    </rewrite>
  </system.webServer>
</configuration>