<li lang="javascript" class="category">DEVELOPMENT</li>
<li lang="javascript">
  <a
    href="{{ site.dcvb_js }}user-guide/index.html"
    style="cursor: pointer; color: #3c3c3c"
    >User Guide</a
  >
  <ul lang="javascript">
    <li lang="javascript">
      <a target="_blank"
        href="{{ site.dbr_js }}user-guide/barcode-scanner.html"
        style="cursor: pointer; color: #3c3c3c"
        >Read Barcodes</a
      >
    </li>
    <li lang="javascript">
      <a target="_blank"
        href="https://www.dynamsoft.com/mrz-scanner/docs/web/guides/mrz-scanner.html"
        style="cursor: pointer; color: #3c3c3c"
        >Scan MRZ</a
      >
    </li>
    <li lang="javascript">
      <a target="_blank"
        href="https://www.dynamsoft.com/mobile-web-capture/docs/guides/document-scanner.html"
        style="cursor: pointer; color: #3c3c3c"
        >Detect & Normalize Documents</a
      >
    </li>
    <!-- <li>
      <a class="otherLinkColour">Explore Features</a>
      <ul>
        <li lang="javascript">
          <a
            href="{{ site.dce_js }}user-guide/index.html"
            class="otherLinkColour"
            >Handle Cameras</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcp_js }}user-guide/index.html"
            class="otherLinkColour"
            >Parse Data</a
          >
        </li>
      </ul>
    </li> -->
  </ul>
</li>
<li lang="javascript">
  <a href="{{ site.dcvb_js_api }}index.html" class="otherLinkColour"
    >API Reference</a
  >
  <ul lang="javascript">
    <!-- CVR -->
    <li>
      <a
        href="{{ site.dcvb_js_api }}capture-vision-router/capture-vision-router-module.html"
        class="otherLinkColour"
        >DynamsoftCaptureVisionRouter</a
      >
      <ul>
        <li>
          <a class="otherLinkColour">CaptureVisionRouter</a>
          <ul>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/instantiate.html"
                class="otherLinkColour"
                >Create and Destroy Instances</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/single-image-processing.html"
                class="otherLinkColour"
                >Single-Image Processing</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/multiple-image-processing.html"
                class="otherLinkColour"
                >Multiple-Image Processing</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/settings.html"
                class="otherLinkColour"
                >Settings</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/preset-templates.html"
                class="otherLinkColour"
                >Preset Templates</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/intermediate-result.html"
                class="otherLinkColour"
                >Intermediate Result</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/auxiliary.html"
                class="otherLinkColour"
                >Auxiliaries</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a>Classes</a>
          <ul>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/buffered-items-manager.html"
                class="otherLinkColour"
                >BufferedItemsManager</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/capture-vision-router-module-class.html"
                class="otherLinkColour"
                >CaptureVisionRouterModule</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/captured-result-receiver.html"
                class="otherLinkColour"
                >CapturedResultReceiver</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/intermediate-result-manager.html"
                class="otherLinkColour"
                >IntermediateResultManager</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/intermediate-result-receiver.html"
                class="otherLinkColour"
                >IntermediateResultReceiver</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Interfaces</a>
          <ul>
            <!-- <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/interfaces/image-source-state-listener.html"
                class="otherLinkColour"
                >ImageSourceStateListener</a
              >
            </li> -->
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/interfaces/captured-result.html"
                class="otherLinkColour"
                >CapturedResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/interfaces/simplified-capture-vision-settings.html"
                class="otherLinkColour"
                >SimplifiedCaptureVisionSettings</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Enumerations</a>
          <ul>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/enum-capture-state.html?lang=js"
                class="otherLinkColour"
                >EnumCaptureState</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/enum-image-source-state.html?lang=js"
                class="otherLinkColour"
                >EnumImageSourceState</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}capture-vision-router/enum-preset-template.html?lang=js"
                class="otherLinkColour"
                >EnumPresetTemplate</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- DBR -->
    <li lang="javascript">
      <a
        href="{{ site.dbr_js_api }}barcode-reader-module.html"
        class="otherLinkColour"
        >DynamsoftBarcodeReader</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dbr_js_api }}barcode-reader-module-class.html"
            class="otherLinkColour"
            >BarcodeReaderModule</a
          >
        </li>
        <li>
          <a class="otherLinkColour">Interfaces</a>
          <ul>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/aztec-details.html"
                class="otherLinkColour"
                >AztecDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/barcode-details.html"
                class="otherLinkColour"
                >BarcodeDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/barcode-result-item.html"
                class="otherLinkColour"
                >BarcodeResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/candidate-barcode-zone.html"
                class="otherLinkColour"
                >CandidateBarcodeZone</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/candidate-barcode-zones-unit.html"
                class="otherLinkColour"
                >CandidateBarcodeZonesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/complemented-barcode-image-unit.html"
                class="otherLinkColour"
                >ComplementedBarcodeImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/datamatrix-details.html"
                class="otherLinkColour"
                >DataMatrixDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/decoded-barcode-element.html"
                class="otherLinkColour"
                >DecodedBarcodeElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/decoded-barcodes-result.html"
                class="otherLinkColour"
                >DecodedBarcodesResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/decoded-barcodes-unit.html"
                class="otherLinkColour"
                >DecodedBarcodesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/deformation-resisted-barcode.html"
                class="otherLinkColour"
                >DeformationResistedBarcode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/deformation-resisted-barcode-image-unit.html"
                class="otherLinkColour"
                >DeformationResistedBarcodeImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/extended-barcode-result.html"
                class="otherLinkColour"
                >ExtendedBarcodeResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/localized-barcode-element.html"
                class="otherLinkColour"
                >LocalizedBarcodeElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/localized-barcodes-unit.html"
                class="otherLinkColour"
                >LocalizedBarcodesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/oned-code-details.html"
                class="otherLinkColour"
                >OneDCodeDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/pdf417-details.html"
                class="otherLinkColour"
                >PDF417Details</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/qr-code-details.html"
                class="otherLinkColour"
                >QRCodeDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/scaled-barcode-image-unit.html"
                class="otherLinkColour"
                >ScaledBarcodeImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}interfaces/simplified-barcode-reader-settings.html"
                class="otherLinkColour"
                >SimplifiedBarcodeReaderSettings</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Enumerations</a>
          <ul>
            <li>
              <a
                href="{{ site.dbr_js_api }}enum-barcode-format.html?lang=js"
                class="otherLinkColour"
                >EnumBarcodeFormat</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}enum-deblur-mode.html?lang=js"
                class="otherLinkColour"
                >EnumDeblurMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}enum-extended-barcode-result-type.html?lang=js"
                class="otherLinkColour"
                >EnumExtendedBarcodeResultType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}enum-localization-mode.html?lang=js"
                class="otherLinkColour"
                >EnumLocalizationMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dbr_js_api }}enum-qr-code-error-correction-level.html?lang=js"
                class="otherLinkColour"
                >EnumQRCodeErrorCorrectionLevel</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- DLR -->
    <li lang="javascript">
      <a
        href="{{ site.dlr_js_api }}label-recognizer-module.html"
        class="otherLinkColour"
        >DynamsoftLabelRecognizer</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dlr_js_api }}label-recognizer-module-class.html"
            class="otherLinkColour"
            >LabelRecognizerModule</a
          >
        </li>
        <li>
          <a class="otherLinkColour">Interfaces</a>
          <ul>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/simplified-label-recognizer-settings.html"
                class="otherLinkColour"
                >SimplifiedLabelRecognizerSettings</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/buffered-character-item.html"
                class="otherLinkColour"
                >BufferedCharacterItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/buffered-character-item-set.html"
                class="otherLinkColour"
                >BufferedCharacterItemSet</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/character-cluster.html"
                class="otherLinkColour"
                >CharacterCluster</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/character-result.html"
                class="otherLinkColour"
                >CharacterResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/localized-textline-element.html"
                class="otherLinkColour"
                >LocalizedTextLineElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/recognized-textline-element.html"
                class="otherLinkColour"
                >RecognizedTextLineElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/localized-textlines-unit.html"
                class="otherLinkColour"
                >LocalizedTextLinesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/recognized-textlines-unit.html"
                class="otherLinkColour"
                >RecognizedTextLinesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/textline-result-item.html"
                class="otherLinkColour"
                >TextLineResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.dlr_js_api }}interfaces/recognized-textlines-result.html"
                class="otherLinkColour"
                >RecognizedTextLinesResult</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Enumerations</a>
          <ul>
            <li>
              <a
                href="{{ site.dlr_js_api }}enum-raw-text-line-status.html?lang=js"
                class="otherLinkColour"
                >EnumRawTextLineStatus</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- DDN -->
    <li lang="javascript">
      <a
        href="{{ site.ddn_js_api }}document-normalizer-module.html"
        class="otherLinkColour"
        >DynamsoftDocumentNormalizer</a
      >
      <ul>
        <li>
          <a
            href="{{ site.ddn_js_api }}document-normalizer-module-class.html"
            class="otherLinkColour"
            >DocumentNormalizerModule</a
          >
        </li>
        <li>
          <a class="otherLinkColour">Interfaces</a>
          <ul>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/candidate-quad-edges-unit.html"
                class="otherLinkColour"
                >CandidateQuadEdgesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/corners-unit.html"
                class="otherLinkColour"
                >CornersUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/detected-quad-element.html"
                class="otherLinkColour"
                >DetectedQuadElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/detected-quad-result-item.html"
                class="otherLinkColour"
                >DetectedQuadResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/detected-quads-result.html"
                class="otherLinkColour"
                >DetectedQuadsResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/detected-quads-unit.html"
                class="otherLinkColour"
                >DetectedQuadsUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/deskewed-image-element.html"
                class="otherLinkColour"
                >DeskewedImageElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/deskewed-image-result-item.html"
                class="otherLinkColour"
                >DeskewedImageResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/deskewed-images-unit.html"
                class="otherLinkColour"
                >DeskewedImagesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/enhanced-image-element.html"
                class="otherLinkColour"
                >EnhancedImageElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/enhanced-image-result-item.html"
                class="otherLinkColour"
                >EnhancedImageResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/enhanced-images-unit.html"
                class="otherLinkColour"
                >EnhancedImagesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/logic-lines-unit.html"
                class="otherLinkColour"
                >LogicLinesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/long-lines-unit.html"
                class="otherLinkColour"
                >LongLinesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/processed-document-result.html"
                class="otherLinkColour"
                >ProcessedDocumentResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/short-lines-unit.html"
                class="otherLinkColour"
                >ShortLinesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.ddn_js_api }}interfaces/simplified-document-normalizer-settings.html"
                class="otherLinkColour"
                >SimplifiedDocumentNormalizerSettings</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Enumerations</a>
          <ul>
            <li>
              <a
                href="{{ site.ddn_js_api }}enum-image-colour-mode.html?lang=js"
                class="otherLinkColour"
                >EnumImageColourMode</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- DCE -->
    <li>
      <a href="{{ site.dce_js_api }}index.html" class="otherLinkColour"
        >DynamsoftCameraEnhancer</a
      >
      <ul>
        <li>
          <a class="otherLinkColour">CameraEnhancer</a>
          <ul>
            <li>
              <a
                href="{{ site.dce_js_api }}instantiate.html"
                class="otherLinkColour"
                >Instantiate</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}camera-control.html"
                class="otherLinkColour"
                >Camera Control</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}acquisition.html"
                class="otherLinkColour"
                >Frame Acquisition</a
              >
            </li>
            <li>
              <a href="{{ site.dce_js_api }}ui.html" class="otherLinkColour"
                >UI</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}auxiliary.html"
                class="otherLinkColour"
                >Auxiliary</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">View Classes</a>
          <ul>
            <li>
              <a
                href="{{ site.dce_js_api }}cameraview.html"
                class="otherLinkColour"
                >CameraView</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}imageeditorview.html"
                class="otherLinkColour"
                >ImageEditorView</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Auxiliary Classes</a>
          <ul>
            <li>
              <a
                href="{{ site.dce_js_api }}cameraenhancermodule.html"
                class="otherLinkColour"
                >CameraEnhancerModule</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}drawingitem.html"
                class="otherLinkColour"
                >DrawingItem</a
              >
              <ul>
                <li>
                  <a
                    href="{{ site.dce_js_api }}imagedrawingitem.html"
                    class="otherLinkColour"
                    >ImageDrawingItem
                  </a>
                </li>
                <li>
                  <a
                    href="{{ site.dce_js_api }}linedrawingitem.html"
                    class="otherLinkColour"
                    >LineDrawingItem</a
                  >
                </li>
                <li>
                  <a
                    href="{{ site.dce_js_api }}quaddrawingitem.html"
                    class="otherLinkColour"
                    >QuadDrawingItem
                  </a>
                </li>
                <li>
                  <a
                    href="{{ site.dce_js_api }}rectdrawingitem.html"
                    class="otherLinkColour"
                    >RectDrawingItem
                  </a>
                </li>
                <li>
                  <a
                    href="{{ site.dce_js_api }}textdrawingitem.html"
                    class="otherLinkColour"
                    >TextDrawingItem</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}drawinglayer.html"
                class="otherLinkColour"
                >DrawingLayer</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}drawingstylemanager.html"
                class="otherLinkColour"
                >DrawingStyleManager</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}feedback.html"
                class="otherLinkColour"
                >Feedback</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="{{ site.dce_js_api }}interface/index.html"
            class="otherLinkColour"
            >Interfaces</a
          >
          <ul>
            <!--
                    <li>
                        <a href="{{ site.dce_js_api }}interface/cameratestresponse.html" class="otherLinkColour">CameraTestResponse</a>
                    </li>
                -->
            <li>
              <a
                href="{{ site.dce_js_api }}interface/dceframe.html"
                class="otherLinkColour"
                >DCEFrame</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/drawingitemevent.html"
                class="otherLinkColour"
                >DrawingItemEvent</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/drawingstyle.html"
                class="otherLinkColour"
                >DrawingStyle</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/note.html"
                class="otherLinkColour"
                >Note</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/playcallbackinfo.html"
                class="otherLinkColour"
                >PlayCallbackInfo</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/resolution.html"
                class="otherLinkColour"
                >Resolution</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/tipconfig.html"
                class="otherLinkColour"
                >TipConfig</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/videodeviceinfo.html"
                class="otherLinkColour"
                >VideoDeviceInfo</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}interface/videoframetag.html"
                class="otherLinkColour"
                >VideoFrameTag</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ site.dce_js_api }}enum/index.html" class="otherLinkColour"
            >Enumerations</a
          >
          <ul>
            <li>
              <a
                href="{{ site.dce_js_api }}enum/enumdrawingitemmediatype.html"
                class="otherLinkColour"
                >EnumDrawingItemMediaType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}enum/enumdrawingitemstate.html"
                class="otherLinkColour"
                >EnumDrawingItemState</a
              >
            </li>
            <li>
              <a
                href="{{ site.dce_js_api }}enum/enumenhancedfeatures.html"
                class="otherLinkColour"
                >EnumEnhancedFeatures</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- DCP -->
    <li>
      <a
        href="{{ site.dcp_js_api }}code-parser-module.html"
        class="otherLinkColour"
        >DynamsoftCodeParser</a
      >
      <ul>
        <li lang="android"><a href="{{ site.code_types }}" class="otherLinkColour">Supported Code Types</a>
          <ul>
              <li lang="android"><a href="{{ site.code_types }}mrtd.html" class="otherLinkColour">Machine Readable Travel Documents</a></li>
              <li lang="android"><a href="{{ site.code_types }}aamva-dl-id.html" class="otherLinkColour">North America DL/ID</a></li>
              <li lang="android"><a href="{{ site.code_types }}za-dl.html" class="otherLinkColour">South Africa Driver License</a></li>
              <li lang="android"><a href="{{ site.code_types }}aadhaar.html" class="otherLinkColour">Aadhaar</a></li>
              <li lang="android"><a href="{{ site.code_types }}vin.html" class="otherLinkColour">Vehicle Identification Number</a></li>
          </ul>
        </li>
        <li>
          <a
            href="{{ site.dcp_js_api }}code-parser-module-class.html"
            class="otherLinkColour"
            >CodeParserModule</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcp_js_api }}code-parser.html"
            class="otherLinkColour"
            >CodeParser</a
          >
        </li>
        <li>
          <a class="otherLinkColour">Interfaces</a>
          <ul>
            <li>
              <a
                href="{{ site.dcp_js_api }}interfaces/parsed-result.html"
                class="otherLinkColour"
                >Parsedresult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcp_js_api }}interfaces/parsed-result-item.html"
                class="otherLinkColour"
                >ParsedresultItem</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Enumerations</a>
          <ul>
            <li>
              <a
                href="{{ site.dcp_js_api }}enum-mapping-status.html"
                class="otherLinkColour"
                >EnumMappingStatus</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcp_js_api }}enum-validation-status.html"
                class="otherLinkColour"
                >EnumValidationStatus</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>    
    <!-- License -->
    <li>
      <a
        href="{{ site.dcvb_js_api }}license/license-module.html"
        class="otherLinkColour"
        >DynamsoftLicense</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dcvb_js_api }}license/license-manager.html"
            class="otherLinkColour"
            >LicenseManager</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcvb_js_api }}license/license-module-class.html"
            class="otherLinkColour"
            >LicenseModule</a
          >
        </li>
      </ul>
    </li>
    <!-- Utility -->
    <li>
      <a
        href="{{ site.dcvb_js_api }}utility/utility-module.html"
        class="otherLinkColour"
        >DynamsoftUtility</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dcvb_js_api }}utility/image-drawer.html"
            class="otherLinkColour"
            >ImageDrawer</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcvb_js_api }}utility/image-io.html"
            class="otherLinkColour"
            >ImageIO</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcvb_js_api }}utility/image-processor.html"
            class="otherLinkColour"
            >ImageProcessor</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcvb_js_api }}utility/multi-frame-result-cross-filter.html"
            class="otherLinkColour"
            >MultiFrameResultCrossFilter</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcvb_js_api }}utility/utility-module-class.html"
            class="otherLinkColour"
            >UtilityModule</a
          >
        </li>
      </ul>
    </li>
    <!-- Core -->
    <li>
      <a
        href="{{ site.dcvb_js_api }}core/core-module.html"
        class="otherLinkColour"
        >DynamsoftCore</a
      >
      <ul>
        <li>
          <a>Classes</a>
          <ul>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/core-module-class.html"
                class="otherLinkColour"
                >CoreModule</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/image-source-adapter.html"
                class="otherLinkColour"
                >ImageSourceAdapter</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a>Interfaces</a>
          <ul>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/arc.html"
                class="otherLinkColour"
                >Arc</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/binary-image-unit.html"
                class="otherLinkColour"
                >BinaryImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/colour-image-unit.html"
                class="otherLinkColour"
                >ColourImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/captured-result-base.html"
                class="otherLinkColour"
                >CapturedResultBase</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/captured-result-item.html"
                class="otherLinkColour"
                >CapturedResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/contour.html"
                class="otherLinkColour"
                >Contour</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/contours-unit.html"
                class="otherLinkColour"
                >ContoursUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/corner.html"
                class="otherLinkColour"
                >Corner</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/ds-image-data.html"
                class="otherLinkColour"
                >DSImageData</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/ds-rect.html"
                class="otherLinkColour"
                >DSRect</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/edge.html"
                class="otherLinkColour"
                >Edge</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/enhanced-grayscale-image-unit.html"
                class="otherLinkColour"
                >EnhancedGrayscaleImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/file-image-tag.html"
                class="otherLinkColour"
                >FileImageTag</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/grayscale-image-unit.html"
                class="otherLinkColour"
                >GrayscaleImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/image-source-error-listener.html"
                class="otherLinkColour"
                >ImageSourceErrorListener</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/image-tag.html"
                class="otherLinkColour"
                >ImageTag</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/intermediate-result.html"
                class="otherLinkColour"
                >IntermediateResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/intermediate-result-extra-info.html"
                class="otherLinkColour"
                >IntermediateResultExtraInfo</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/intermediate-result-unit.html"
                class="otherLinkColour"
                >IntermediateResultUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/line-segments-unit.html"
                class="otherLinkColour"
                >LineSegmentsUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/line-segment.html"
                class="otherLinkColour"
                >LineSegment</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/observation-parameters.html"
                class="otherLinkColour"
                >ObservationParameters</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/original-image-result-item.html"
                class="otherLinkColour"
                >OriginalImageResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/point.html"
                class="otherLinkColour"
                >Point</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/predetected-region-element.html"
                class="otherLinkColour"
                >PredetectedRegionElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/predetected-regions-unit.html"
                class="otherLinkColour"
                >PredetectedRegionsUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/polygon.html"
                class="otherLinkColour"
                >Polygon</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/quadrilateral.html"
                class="otherLinkColour"
                >Quadrilateral</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/rect.html"
                class="otherLinkColour"
                >Rect</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/region-object-element.html"
                class="otherLinkColour"
                >RegionObjectElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/scaled-colour-image-unit.html"
                class="otherLinkColour"
                >ScaledColourImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/text-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextRemovedBinaryImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/texture-detection-result-unit.html"
                class="otherLinkColour"
                >TextureDetectionResultUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/texture-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedBinaryImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedGrayscaleImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/basic-structures/text-zone.html"
                class="otherLinkColour"
                >TextZone</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/text-zones-unit.html"
                class="otherLinkColour"
                >TextZonesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/intermediate-results/transformed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TransformedGrayscaleImageUnit</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a>Enumerations</a>
          <ul>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-buffer-overflow-protection-mode.html?lang=js"
                class="otherLinkColour"
                >BufferOverflowProtectionMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-captured-result-item-type.html?lang=js"
                class="otherLinkColour"
                >CapturedResultItemType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-colour-channel-usage-type.html?lang=js"
                class="otherLinkColour"
                >ColourChannelUsageType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-corner-type.html?lang=js"
                class="otherLinkColour"
                >CornerType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-cross-verification-status.html?lang=js"
                class="otherLinkColour"
                >CrossVerificationStatus</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-error-code.html?lang=js"
                class="otherLinkColour"
                >ErrorCode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-grayscale-enhancement-mode.html?lang=js"
                class="otherLinkColour"
                >GrayscaleEnhancementMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-grayscale-transformation-mode.html?lang=js"
                class="otherLinkColour"
                >GrayscaleTransformationMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-image-file-format.html?lang=js"
                class="otherLinkColour"
                >ImageFileFormat</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-image-pixel-format.html?lang=js"
                class="otherLinkColour"
                >ImagePixelFormat</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-image-tag-type.html?lang=js"
                class="otherLinkColour"
                >ImageTagType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-intermediate-result-unit-type.html?lang=js"
                class="otherLinkColour"
                >IntermediateResultUnitType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-module-name.html?lang=js"
                class="otherLinkColour"
                >ModuleName</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-region-object-element-type.html?lang=js"
                class="otherLinkColour"
                >RegionObjectElementType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcvb_js_api }}core/enum-section-type.html?lang=js"
                class="otherLinkColour"
                >SectionType</a
              >
            </li>
            <!-- <li>
              <a
                href="{{ site.dcvb_js_api }}enum-transform-matrix-type.html?lang=js"
                class="otherLinkColour"
                >TransformMatrixType</a
              >
            </li> -->
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-understanding.html" -%}
<li lang="javascript" class="category">USEFUL RESOURCES</li>
<li lang="javascript">
  <a href="{{ site.dcvb_js }}release-notes/" class="otherLinkColour"
    >Release Notes</a
  >
  <ul lang="javascript">
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dcvb-3.html" class="otherLinkColour"
        >Version 3.x</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dcvb.html" class="otherLinkColour"
        >Version 2.x</a
      >
    </li>
    <!-- <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/cvr.html" class="otherLinkColour"
        >DynamsoftCaptureVisionRouter</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/core.html" class="otherLinkColour"
        >DynamsoftCore</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dbr.html" class="otherLinkColour"
        >DynamsoftBarcodeReader</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dlr.html" class="otherLinkColour"
        >DynamsoftLabelRecognizer</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/ddn.html" class="otherLinkColour"
        >DynamsoftDocumentNormalizer</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dce.html" class="otherLinkColour"
        >DynamsoftCameraEnhancer</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dcp.html" class="otherLinkColour"
        >DynamsoftCodeParser</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dip.html" class="otherLinkColour"
        >DynamsoftImageProcessing</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/license.html" class="otherLinkColour"
        >DynamsoftLicense</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/utility.html" class="otherLinkColour"
        >DynamsoftUtility</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dlrData.html" class="otherLinkColour"
        >DynamsoftLabelRecognizerData</a
      >
    </li>
    <li lang="javascript">
      <a href="{{ site.dcvb_js }}release-notes/dnn.html" class="otherLinkColour"
        >DynamsoftNeuralNetwork</a
      >
    </li> -->
  </ul>
</li>
<li lang="javascript"><a href="{{ site.license_activation }}index.html" class="otherLinkColour">License Initialization</a></li>