<li>
  <a href="{{ site.js }}" class="otherLinkColour">Introduction</a>
</li>
<li lang="javascript" class="category">DEVELOPMENT</li>
<li lang="javascript">
  <a style="cursor: pointer; color: #3c3c3c">User Guide</a>
  <ul lang="javascript">
    <li lang="javascript">
      <a
        href="{{ site.js }}user-guide/index.html"
        style="cursor: pointer; color: #3c3c3c"
        >Get Started</a
      >
    </li>
    <li><a href="{{ site.js }}user-guide/explore-features/index.html" class="otherLinkColour">Explore
        Features</a>
      <ul>
        <li><a class="otherLinkColour">Basic Features</a>
          <ul>
            <li><a href="{{ site.features }}barcode-formats-and-count.html?lang=js" class="otherLinkColour">Specify barcode
                formats and
                count</a></li>
            <li><a href="{{ site.features }}barcode-scan-region.html?lang=js" class="otherLinkColour">Read a
                specific area/region</a></li>
            <!-- <li><a href="{{ site.features }}customize-the-ui.html?lang=js" class="otherLinkColour">Customize
                the UI</a></li> -->
          </ul>
        </li>
        <li><a class="otherLinkColour">Handle Different Cases</a>
          <ul>
            <li><a href="{{ site.features }}read-inverted-barcodes.html?lang=js" class="otherLinkColour">Read inverted
                barcodes</a></li>
            <li><a href="{{ site.features }}read-deformed-barcodes.html?lang=js" class="otherLinkColour">Read deformed
                barcodes</a></li>
            <li><a href="{{ site.features }}read-incomplete-barcodes.html?lang=js" class="otherLinkColour">Read incomplete
                barcodes</a>
            </li>
            <li><a href="{{ site.features }}read-dense-barcodes.html?lang=js" class="otherLinkColour">Read
                dense barcodes</a></li>
            <li><a href="{{ site.features }}read-a-large-image.html?lang=js" class="otherLinkColour">Read
                barcodes from a large image</a></li>
            <li><a href="{{ site.features }}read-barcodes-with-small-module-size.html?lang=js" class="otherLinkColour">Read
                barcodes with small module
                size</a></li>
            <li><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=js" class="otherLinkColour">Read
                images with imbalanced
                colors</a></li>
            <li><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=js" class="otherLinkColour">Read
                images with uneven
                lighting</a></li>
            <li><a href="{{ site.features }}read-images-with-texture.html?lang=js" class="otherLinkColour">Read images with
                texture</a>
            </li>
            <li><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=js" class="otherLinkColour">Read images
                with lots of
                text</a></li>
            <li><a href="{{ site.features }}preprocess-images.html?lang=js" class="otherLinkColour">Preprocess images to
                read
                difficult barcodes</a></li>
          </ul>
        </li>
        <li><a class="otherLinkColour">Barcode Results</a>
          <ul>
            <li><a href="{{ site.features }}get-confidence-rotation.html?lang=js" class="otherLinkColour">Get barcode
                confidence and
                rotation</a></li>
            <li><a href="{{ site.features }}get-barcode-location.html?lang=js" class="otherLinkColour">Get
                barcode location</a></li>
            <li><a href="{{ site.features }}get-detailed-info.html?lang=js" class="otherLinkColour">Get
                detailed barcode information</a></li>
            <li><a href="{{ site.features }}filter-and-sort.html?lang=js" class="otherLinkColour">Filter and
                sort decoding results</a></li>
            <!-- <li><a href="{{ site.features }}use-intermidiate-results.html?lang=js" class="otherLinkColour">Use intermediate
                results</a>
            </li> -->
          </ul>
        </li>
        <li><a class="otherLinkColour">Advanced Features</a>
          <ul>
            <!-- <li><a href="{{ site.features }}control-terminate-phase.html?lang=js" class="otherLinkColour">Control when to
                terminate a
                decoding process</a></li> -->
            <li><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=js" class="otherLinkColour">Use
              SimplifiedCaptureVisionSettings or
                Templates</a></li>
            <li><a href="{{ site.features }}use-format-specific-configuration.html?lang=js" class="otherLinkColour">Use
                format specific
                configurations</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>
<li>
  <a href="{{ site.js }}samples-demos/index.html" class="otherLinkColour"
    >Samples and Demos</a
  >
  <!-- <ul>
    <li>
      <a
        target="_blank"
        href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/"
        class="otherLinkColour refreshLink"
        >Hello World</a
      >
      <ul>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/blob/main/hello-world/hello-world.html"
            class="otherLinkColour refreshLink"
            >Minimal Code&nearrow;</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/angular"
            class="otherLinkColour refreshLink"
            >Hello World with Angular</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/react"
            class="otherLinkColour refreshLink"
            >Hello World with React</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/vue"
            class="otherLinkColour refreshLink"
            >Hello World with Vue 3</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/next"
            class="otherLinkColour refreshLink"
            >Hello World with Next.js</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/nuxt"
            class="otherLinkColour refreshLink"
            >Hello World with NuxtJS</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/electron"
            class="otherLinkColour refreshLink"
            >Hello World with Electron</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/hello-world/pwa"
            class="otherLinkColour refreshLink"
            >Hello World with PWA</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        target="_blank"
        href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/use-case"
        class="otherLinkColour refreshLink"
        >Use Cases</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/main/others/debug"
        class="otherLinkColour refreshLink"
        >Debug Sample</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://demo.dynamsoft.com/barcode-reader-js/"
        class="otherLinkColour refreshLink"
        >Official Online Demo &nearrow;</a
      >
    </li>
  </ul> -->
</li>
<li lang="javascript">
  <a href="{{ site.js_api }}index.html" class="otherLinkColour"
    >API Reference</a
  >
  <ul lang="javascript">
    <!-- CVR -->
    <li>
      <a
        href="{{ site.dcv_js_api }}capture-vision-router/capture-vision-router-module.html"
        class="otherLinkColour"
        >DynamsoftCaptureVisionRouter</a
      >
      <ul>
        <li>
          <a class="otherLinkColour">CaptureVisionRouter</a>
          <ul>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/instantiate.html"
                class="otherLinkColour"
                >Create and Destroy Instances</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/single-image-processing.html"
                class="otherLinkColour"
                >Single-Image Processing</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/multiple-image-processing.html"
                class="otherLinkColour"
                >Multiple-Image Processing</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/settings.html"
                class="otherLinkColour"
                >Settings</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/preset-templates.html"
                class="otherLinkColour"
                >Preset Templates</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/intermediate-result.html"
                class="otherLinkColour"
                >Intermediate Result</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a>Classes</a>
          <ul>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/capture-vision-router-module-class.html"
                class="otherLinkColour"
                >CaptureVisionRouterModule</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/captured-result-receiver.html"
                class="otherLinkColour"
                >CapturedResultReceiver</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/intermediate-result-manager.html"
                class="otherLinkColour"
                >IntermediateResultManager</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/intermediate-result-receiver.html"
                class="otherLinkColour"
                >IntermediateResultReceiver</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Interfaces</a>
          <ul>
            <!-- <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/interfaces/image-source-state-listener.html"
                class="otherLinkColour"
                >ImageSourceStateListener</a
              >
            </li> -->
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/interfaces/captured-result.html"
                class="otherLinkColour"
                >CapturedResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}capture-vision-router/interfaces/simplified-capture-vision-settings.html"
                class="otherLinkColour"
                >SimplifiedCaptureVisionSettings</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Enums</a>
          <ul>
            <li>
              <a
                href="{{ site.enums }}core/image-source-state.html?lang=js"
                class="otherLinkColour"
                >EnumImageSourceState</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- DBR -->
    <li lang="javascript">
      <a
        href="{{ site.js_api }}barcode-reader-module.html"
        class="otherLinkColour"
        >DynamsoftBarcodeReader</a
      >
      <ul>
        <li>
          <a
            href="{{ site.js_api }}barcode-reader-module-class.html"
            class="otherLinkColour"
            >BarcodeReaderModule</a
          >
        </li>
        <li>
          <a class="otherLinkColour">Interfaces</a>
          <ul>
            <li>
              <a
                href="{{ site.js_api }}interfaces/aztec-details.html"
                class="otherLinkColour"
                >AztecDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/barcode-details.html"
                class="otherLinkColour"
                >BarcodeDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/barcode-result-item.html"
                class="otherLinkColour"
                >BarcodeResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/candidate-barcode-zone.html"
                class="otherLinkColour"
                >CandidateBarcodeZone</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/candidate-barcode-zones-unit.html"
                class="otherLinkColour"
                >CandidateBarcodeZonesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/complemented-barcode-image-unit.html"
                class="otherLinkColour"
                >ComplementedBarcodeImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/datamatrix-details.html"
                class="otherLinkColour"
                >DataMatrixDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/decoded-barcode-element.html"
                class="otherLinkColour"
                >DecodedBarcodeElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/decoded-barcodes-result.html"
                class="otherLinkColour"
                >DecodedBarcodesResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/decoded-barcodes-unit.html"
                class="otherLinkColour"
                >DecodedBarcodesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/deformation-resisted-barcode.html"
                class="otherLinkColour"
                >DeformationResistedBarcode</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/deformation-resisted-barcode-image-unit.html"
                class="otherLinkColour"
                >DeformationResistedBarcodeImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/extended-barcode-result.html"
                class="otherLinkColour"
                >ExtendedBarcodeResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/localized-barcode-element.html"
                class="otherLinkColour"
                >LocalizedBarcodeElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/localized-barcodes-unit.html"
                class="otherLinkColour"
                >LocalizedBarcodesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/oned-code-details.html"
                class="otherLinkColour"
                >OneDCodeDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/pdf417-details.html"
                class="otherLinkColour"
                >PDF417Details</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/qr-code-details.html"
                class="otherLinkColour"
                >QRCodeDetails</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/scaled-up-barcode-image-unit.html"
                class="otherLinkColour"
                >ScaledUpBarcodeImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.js_api }}interfaces/simplified-barcode-reader-settings.html"
                class="otherLinkColour"
                >SimplifiedBarcodeReaderSettings</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="otherLinkColour">Enums</a>
          <ul>
            <li>
              <a
                href="{{ site.dcv_enumerations }}barcode-reader/barcode-format.html?lang=js"
                class="otherLinkColour"
                >EnumBarcodeFormat</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_enumerations }}barcode-reader/deblur-mode.html?lang=js"
                class="otherLinkColour"
                >EnumDeblurMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_enumerations }}barcode-reader/extended-barcode-result-type.html?lang=js"
                class="otherLinkColour"
                >EnumExtendedBarcodeResultType</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_enumerations }}barcode-reader/localization-mode.html?lang=js"
                class="otherLinkColour"
                >EnumLocalizationMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_enumerations }}barcode-reader/qr-code-error-correction-level.html?lang=js"
                class="otherLinkColour"
                >EnumQRCodeErrorCorrectionLevel</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- License -->
    <li>
      <a
        href="{{ site.dcv_js_api }}license/license-module.html"
        class="otherLinkColour"
        >DynamsoftLicense</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dcv_js_api }}license/license-manager.html"
            class="otherLinkColour"
            >LicenseManager</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcv_js_api }}license/license-module-class.html"
            class="otherLinkColour"
            >LicenseModule</a
          >
        </li>
      </ul>
    </li>
    <!-- Utility -->
    <li>
      <a
        href="{{ site.dcv_js_api }}utility/utility-module.html"
        class="otherLinkColour"
        >DynamsoftUtility</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dcv_js_api }}utility/image-manager.html"
            class="otherLinkColour"
            >ImageManager</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcv_js_api }}utility/multi-frame-result-cross-filter.html"
            class="otherLinkColour"
            >MultiFrameResultCrossFilter</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcv_js_api }}utility/utility-module-class.html"
            class="otherLinkColour"
            >UtilityModule</a
          >
        </li>
      </ul>
    </li>
    <!-- Core -->
    <li>
      <a
        href="{{ site.dcv_js_api }}core/core-module.html"
        class="otherLinkColour"
        >DynamsoftCore</a
      >
      <ul>
        <li>
          <a>Classes</a>
          <ul>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/core-module-class.html"
                class="otherLinkColour"
                >CoreModule</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/image-source-adapter.html"
                class="otherLinkColour"
                >ImageSourceAdapter</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a>Interfaces</a>
          <ul>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/arc.html"
                class="otherLinkColour"
                >Arc</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/binary-image-unit.html"
                class="otherLinkColour"
                >BinaryImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/colour-image-unit.html"
                class="otherLinkColour"
                >ColourImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/captured-result-item.html"
                class="otherLinkColour"
                >CapturedResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/contour.html"
                class="otherLinkColour"
                >Contour</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/contours-unit.html"
                class="otherLinkColour"
                >ContoursUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/corner.html"
                class="otherLinkColour"
                >Corner</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-image-data.html"
                class="otherLinkColour"
                >DSImageData</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-rect.html"
                class="otherLinkColour"
                >DSRect</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/edge.html"
                class="otherLinkColour"
                >Edge</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/enhanced-grayscale-image-unit.html"
                class="otherLinkColour"
                >EnhancedGrayscaleImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/file-image-tag.html"
                class="otherLinkColour"
                >FileImageTag</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/grayscale-image-unit.html"
                class="otherLinkColour"
                >GrayscaleImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/image-source-error-listener.html"
                class="otherLinkColour"
                >ImageSourceErrorListener</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/image-tag.html"
                class="otherLinkColour"
                >ImageTag</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result.html"
                class="otherLinkColour"
                >IntermediateResult</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-extra-info.html"
                class="otherLinkColour"
                >IntermediateResultExtraInfo</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-unit.html"
                class="otherLinkColour"
                >IntermediateResultUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/line-segments-unit.html"
                class="otherLinkColour"
                >LineSegmentsUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/line-segment.html"
                class="otherLinkColour"
                >LineSegment</a
              >
            </li>
           <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/observation-parameters.html"
                class="otherLinkColour"
                >ObservationParameters</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/original-image-result-item.html"
                class="otherLinkColour"
                >OriginalImageResultItem</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/point.html"
                class="otherLinkColour"
                >Point</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/predetected-region-element.html"
                class="otherLinkColour"
                >PredetectedRegionElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/predetected-regions-unit.html"
                class="otherLinkColour"
                >PredetectedRegionsUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/polygon.html"
                class="otherLinkColour"
                >Polygon</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/quadrilateral.html"
                class="otherLinkColour"
                >Quadrilateral</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/rect.html"
                class="otherLinkColour"
                >Rect</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/region-object-element.html"
                class="otherLinkColour"
                >RegionObjectElement</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/scaled-down-colour-image-unit.html"
                class="otherLinkColour"
                >ScaledDownColourImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/text-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextRemovedBinaryImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-detection-result-unit.html"
                class="otherLinkColour"
                >TextureDetectionResultUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedBinaryImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedGrayscaleImageUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/text-zone.html"
                class="otherLinkColour"
                >TextZone</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/text-zones-unit.html"
                class="otherLinkColour"
                >TextZonesUnit</a
              >
            </li>
            <li>
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/transformed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TransformedGrayscaleImageUnit</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a>Enumerations</a>
          <ul>
            <li>
              <a
                href="{{ site.enums }}core/buffer-overflow-protection-mode.html?lang=js"
                class="otherLinkColour"
                >BufferOverflowProtectionMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/captured-result-item-type.html?lang=js"
                class="otherLinkColour"
                >CapturedResultItemType</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/colour-channel-usage-type.html?lang=js"
                class="otherLinkColour"
                >ColourChannelUsageType</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/corner-type.html?lang=js"
                class="otherLinkColour"
                >CornerType</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/error-code.html?lang=js"
                class="otherLinkColour"
                >ErrorCode</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/grayscale-enhancement-mode.html?lang=js"
                class="otherLinkColour"
                >GrayscaleEnhancementMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/grayscale-transformation-mode.html?lang=js"
                class="otherLinkColour"
                >GrayscaleTransformationMode</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/image-pixel-format.html?lang=js"
                class="otherLinkColour"
                >ImagePixelFormat</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/image-tag-type.html?lang=js"
                class="otherLinkColour"
                >ImageTagType</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/intermediate-result-unit-type.html?lang=js"
                class="otherLinkColour"
                >IntermediateResultUnitType</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/region-object-element-type.html?lang=js"
                class="otherLinkColour"
                >RegionObjectElementType</a
              >
            </li>
            <li>
              <a
                href="{{ site.enums }}core/section-type.html?lang=js"
                class="otherLinkColour"
                >SectionType</a
              >
            </li>
            <!-- <li>
              <a
                href="{{ site.enums }}core/transform-matrix-type.html?lang=js"
                class="otherLinkColour"
                >TransformMatrixType</a
              >
            </li> -->
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>
<li lang="javascript" class="category">USEFUL RESOURCES</li>
<li lang="javascript">
  <a href="{{ site.js_release_notes }}index.html" class="otherLinkColour"
    >Release Notes</a
  >
  <ul>
    <li>
      <a href="{{ site.js_release_notes }}js-10.html" class="otherLinkColour"
        >Version 10.x</a
      >
    </li>
    <li>
      <a href="{{ site.js_release_notes }}js-9.html" class="otherLinkColour"
        >Version 9.x</a
      >
    </li>
    <li>
      <a href="{{ site.js_release_notes }}js-8.html" class="otherLinkColour"
        >Version 8.x</a
      >
    </li>
    <li>
      <a href="{{ site.js_release_notes }}js-7.html" class="otherLinkColour"
        >Version 7.x</a
      >
    </li>
  </ul>
</li>
<li>
  <a
    href="{{ site.js }}upgrade-guide/index.html"
    style="cursor: pointer; color: #3c3c3c"
    >Upgrade Instructions</a
  >
  <ul>
    <li>
      <a href="{{ site.js }}upgrade-guide/9to10.html" class="otherLinkColour"
        >Upgrade v9 to v10</a
      >
    </li>
    <li>
      <a href="{{ site.js }}upgrade-guide/8to9.html" class="otherLinkColour"
        >Upgrade v8 to v9</a
      >
    </li>
    <li>
      <a href="{{ site.js }}upgrade-guide/7to9.html" class="otherLinkColour"
        >Upgrade v7 to v9</a
      >
    </li>
    <li>
      <a href="{{ site.js }}upgrade-guide/7-notice.html" class="otherLinkColour"
        >EOS for v7.x</a
      >
    </li>
  </ul>
</li>

<li>
  <a href="{{ site.js }}faq/" class="otherLinkColour">FAQ</a>
  <ul>
    <li>
      <a href="{{ site.js }}faq/ways-to-copy-dbr-js-deployable-files.html"
        >How to get a copy of Dbr JS deployable files ?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/javascript-sdk-offline-mode-use.html"
        >How to use the JavaScript SDK in offline mode?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/server-requirements-for-dbr-js-deployment.html"
        >What are the server requirements for Dbr JS deployment?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/pros-and-cons-of-cdn.html"
        >What are the pros and cons of using the CDN?</a
      >
    </li>
    <li>
      <a
        href="{{ site.js }}faq/differences-between-full-and-compact-editions.html"
        >What are the differences between the compact edition and the full
        edition?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/is-https-required.html"
        >Is HTTPS absolutely required?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/use-of-onFrameRead-and-onUnduplicateRead.html"
        >When to use onFrameRead and when to use onUniqueRead?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/call-loadWasm-proactively.html"
        >Do we have to call loadWasm proactively?</a
      >
    </li>
    <li>
      <a
        href="{{ site.js }}faq/differences-between-updateScanSettings-updateVideoSettings-and-updateRuntimeSettings.html"
        >Differences between
        updateScanSettings/updateVideoSettings/updateRuntimeSettings?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/different-ways-to-customize-ui.html"
        >What are the different ways to customize the UI?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/get-sdk-logs.html"
        >How to get the logs for the JavaScript SDK?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/upgrade-old-to-new.html"
        >How do you upgrade to a newer version of the SDK?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/change-domain-binding-of-product-key.html"
        >How to change the domain binding of your product key?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/when-singleFrameMode-is-enabled.html"
        >When is singleFrameMode enabled?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/get-intermediate-result-images.html"
        >How to get intermediate result images?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/read-inverted-image.html"
        >How to read an inverted image?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/read-from-existing-files.html"
        >How to read barcodes from existing files?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/formats-supported-for-existing-files.html"
        >Formats supported when reading barcodes from files in local memory?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/read-text-from-barcode-image.html"
        >How to read the text info usually located around a barcode image?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/scan-US-drivers-license.html"
        >How to scan the barcode on a US Driver"s License and get the first
        name, last name, DOB, etc.?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/add-remove-beep-sound.html"
        >How to add/remove a "beep" sound once a barcode is found?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/nodejs-implementation.html"
        >How do I create a NodeJS application using the SDK?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/check-current-version.html"
        >How to check the version of the JavaScript SDK I am currently using?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/unable-to-scan-aztec-code.html"
        >Why am I unable to scan an Aztec code in the helloworld sample?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/stop-camera-to-open-right-away.html"
        >Enable the camera on the click of a button?</a
      >
    </li>
    <li>
      <a
        href="{{ site.js }}faq/difference-between-barcodeReader-and-barcodeScanner.html"
        >What is the difference between the BarcodeReader class and the
        BarcodeScanner class?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/newline-character-not-being-rendered.html"
        >Why are newline characters not being rendered when displaying the
        barcode results in a textbox?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/resolve-magic-word.html"
        >How to resolve the expected magic word error that occurs when using the
        JavaScript SDK?</a
      >
    </li>
    <li>
      <a
        href="{{ site.js }}faq/general-troubleshooting-steps-for-decode-failure.html"
        >What are the general troubleshooting steps if an image fails to decode
        with the JavaScript SDK?</a
      >
    </li>
    <li>
      <a
        href="{{ site.js }}faq/difference-between-bestspeed-and-bestcoverage.html"
        >What are the differences between the "speed", "coverage", "balance, and
        "single" runtime templates?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/avoid-incorrect-barcode-results.html"
        >How to avoid incorrect barcode results?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/how-license-tracking-works.html"
        >How does the license work - Per Scan, Per Device, Per Concurrent
        Device?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/new-license-required-per-device-licensing.html"
        >When is a new license spot taken when using a per-device licensing
        model?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/delay-when-open-camera.html"
        >How to get rid of the delay when opening the camera?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/hide-laser-message-ui.html"
        >How can I hide the laser bar and Dynamsoft message in the default UI of
        the BarcodeScanner?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/ios-16-incompatible.html"
        >Why is the Javascript SDK not recognizing any barcodes on iOS 16.4?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/check-camera.html"
        >How to check the camera permissions programmatically in Dynamsoft
        Barcode Reader JavaScript SDK?</a
      >
    </li>
    <li>
      <a href="{{ site.js }}faq/ios-17-readability.html"
        >How do I resolve the issue of the Barcode Reader not recognizing any
        barcodes via video in iOS 16.7 or 17?</a
      >
    </li>
  </ul>
</li>
<li class="category">OTHERS</li>
<li>
  <a
    target="_blank"
    href="{{ site.introduction }}index.html"
    class="otherLinkColour refreshLink"
    >Develop for Mobile or Server/Desktop</a
  >
</li>
