<li>
  <a href="{{ site.js }}" class="otherLinkColour">Introduction</a>
</li>
<li lang="javascript" class="category">DEVELOPMENT</li>
<li lang="javascript">
  <a style="cursor: pointer; color: #3c3c3c">User Guide</a>
  <ul lang="javascript">
    <li lang="javascript">
      <a
        href="{{ site.js }}user-guide/index.html"
        style="cursor: pointer; color: #3c3c3c"
        >Get Started</a
      >
    </li>
  </ul>
</li>
<li>
  <a href="{{ site.js }}samples-demos/index.html" class="otherLinkColour"
    >Samples and Demos</a
  >
  <ul>
    <li>
      <a
        target="_blank"
        href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/"
        class="otherLinkColour refreshLink"
        >Hello World</a
      >
      <ul>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/blob/v10.0.20/hello-world/hello-world.html"
            class="otherLinkColour refreshLink"
            >Minimal Code&nearrow;</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/angular"
            class="otherLinkColour refreshLink"
            >Hello World with Angular</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/react"
            class="otherLinkColour refreshLink"
            >Hello World with React</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/vue"
            class="otherLinkColour refreshLink"
            >Hello World with Vue 3</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/next"
            class="otherLinkColour refreshLink"
            >Hello World with Next.js</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/nuxt"
            class="otherLinkColour refreshLink"
            >Hello World with NuxtJS</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/electron"
            class="otherLinkColour refreshLink"
            >Hello World with Electron</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/hello-world/pwa"
            class="otherLinkColour refreshLink"
            >Hello World with PWA</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        target="_blank"
        href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/use-case"
        class="otherLinkColour refreshLink"
        >Use Cases</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://github.com/Dynamsoft/barcode-reader-javascript-samples/tree/v10.0.20/others/debug"
        class="otherLinkColour refreshLink"
        >Debug Sample</a
      >
    </li>
    <li>
      <a
        target="_blank"
        href="https://demo.dynamsoft.com/barcode-reader-js/"
        class="otherLinkColour refreshLink"
        >v10.0.20 Demo &nearrow;</a
      >
    </li>
  </ul>
</li>
<li lang="javascript">
  <a href="{{ site.js_api }}index.html" class="otherLinkColour"
    >API Reference</a
  >
  <ul lang="javascript">
    <li lang="javascript">
      <a
        href="{{ site.dcv_js_api }}license/license-module.html"
        class="otherLinkColour"
        >License</a
      >
      <ul lang="javascript">
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}license/license-manager.html"
            class="otherLinkColour"
            >LicenseManger</a
          >
        </li>
        <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}license/license-verification-listener.html" class="otherLinkColour">LicenseVerificationListener</a></li>-->
      </ul>
    </li>
    <li lang="javascript">
      <a
        href="{{ site.js_api }}barcode-reader-module.html"
        class="otherLinkColour"
        >BarcodeReaderModule</a
      >
    </li>
    <li lang="javascript">
      <a
        href="{{ site.dcv_js_api }}capture-vision-router/capture-vision-router-module.html"
        class="otherLinkColour"
        >CaptureVisionRouter</a
      >
      <ul lang="javascript">
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}capture-vision-router/instantiate.html"
            class="otherLinkColour"
            >Instantiate</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}capture-vision-router/single-file-processing.html"
            class="otherLinkColour"
            >Single-Image Processing</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}capture-vision-router/multiple-file-processing.html"
            class="otherLinkColour"
            >Multiple-Image Processing</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}capture-vision-router/settings.html"
            class="otherLinkColour"
            >Settings</a
          >
        </li>
        <li lang="javascript"><a style="cursor:pointer;color:#3c3c3c">Output handling</a>
          <ul>
            <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/interfaces/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
            <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/interfaces/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
            <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/interfaces/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
            <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/interfaces/intermediate-result-receiver.html" class="otherLinkColour">IntermediateResultReceiver</a></li>
          </ul>
        </li>
        <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>-->
      </ul>
    </li>
    <!-- core -->
    <li lang="javascript">
      <a
        href="{{ site.dcv_js_api }}core/core-module.html"
        class="otherLinkColour"
        >Core</a
      >
      <ul lang="javascript">
        <li lang="javascript">
          <a>Input</a>
          <ul lang="javascript">
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/image-source-adapter.html"
                class="otherLinkColour"
                >ImageSourceAdapter</a
              >
            </li>
            <!--
                        <li lang="javascript"><a href="{{ site.dcv_js_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                        <li lang="javascript"><a href="{{ site.dcv_js_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">ProactiveImageSourceAdapter</a></li>
                        -->
          </ul>
        </li>
        <li lang="javascript">
          <a>Basic Structures</a>
          <ul lang="javascript">
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/arc.html"
                class="otherLinkColour"
                >Arc</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/contour.html"
                class="otherLinkColour"
                >Contour</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/corner.html"
                class="otherLinkColour"
                >Corner</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-file.html"
                class="otherLinkColour"
                >DSFile</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-image-data.html"
                class="otherLinkColour"
                >DSImageData</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-rect.html"
                class="otherLinkColour"
                >DSRect</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/edge.html"
                class="otherLinkColour"
                >Edge</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/file-image-tag.html"
                class="otherLinkColour"
                >FileImageTag</a
              >
            </li>
            <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}core/basic-structures/image-data.html" class="otherLinkColour">ImageData</a></li>-->
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/image-tag.html"
                class="otherLinkColour"
                >ImageTag</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/line-segment.html"
                class="otherLinkColour"
                >LineSegment</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/pdf-reading-parameter.html"
                class="otherLinkColour"
                >PDFReadingParameter</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/point.html"
                class="otherLinkColour"
                >Point</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/polygon.html"
                class="otherLinkColour"
                >Polygon</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/quadrilateral.html"
                class="otherLinkColour"
                >Quadrilateral</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/rect.html"
                class="otherLinkColour"
                >Rect</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/video-frame-tag.html"
                class="otherLinkColour"
                >VideoFrameTag</a
              >
            </li>
          </ul>
        </li>
        <li lang="javascript">
          <a>Intermediate Results</a>
          <ul lang="javascript">
            <!-- 
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}localized-text-lines-unit.html" class="otherLinkColour">CLocalizedTextLinesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-lines-unit.html" class="otherLinkColour">CRecognizedTextLinesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}localized-text-line-element.html" class="otherLinkColour">CLocalizedTextLineElement</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-line-element.html" class="otherLinkColour">CRecognizedTextLineElement</a></li>               
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}candidate-quad-edges-unit.html" class="otherLinkColour">CandidateQuadEdgesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}corners-unit.html" class="otherLinkColour">CornersUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quad-element.html" class="otherLinkColour">DetectedQuadElement</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quads-unit.html" class="otherLinkColour">DetectedQuadsUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}long-lines-unit.html" class="otherLinkColour">LongLinesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-image-element.html" class="otherLinkColour">NormalizedImageElement</a></li> 
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-images-unit.html" class="otherLinkColour">NormalizedImageUnit</a></li>
                        -->
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/binary-image-unit.html"
                class="otherLinkColour"
                >BinaryImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}candidate-barcode-zones-unit.html"
                class="otherLinkColour"
                >CandidateBarcodeZonesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/colour-image-unit.html"
                class="otherLinkColour"
                >ColourImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}complemented-barcode-image-unit.html"
                class="otherLinkColour"
                >ComplementedBarcodeImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/contours-unit.html"
                class="otherLinkColour"
                >ContoursUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcode-element.html"
                class="otherLinkColour"
                >DecodedBarcodeElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcodes-unit.html"
                class="otherLinkColour"
                >DecodedBarcodesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}deformation-resisted-barcode-image-unit.html"
                class="otherLinkColour"
                >DeformationResistedBarcodeImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/enhanced-grayscale-image-unit.html"
                class="otherLinkColour"
                >EnhancedGrayscaleImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}extended-barcode-result.html"
                class="otherLinkColour"
                >ExtendedBarcodeResult</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/grayscale-image-unit.html"
                class="otherLinkColour"
                >GrayscaleImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-extra-info.html"
                class="otherLinkColour"
                >IntermediateResultExtraInfo</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-unit.html"
                class="otherLinkColour"
                >IntermediateResultUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result.html"
                class="otherLinkColour"
                >IntermediateResult</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/line-segments-unit.html"
                class="otherLinkColour"
                >LineSegmentsUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}localized-barcode-element.html"
                class="otherLinkColour"
                >LocalizedBarcodesElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}localized-barcodes-unit.html"
                class="otherLinkColour"
                >LocalizedBarcodesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/observation-parameters.html"
                class="otherLinkColour"
                >ObservationParameters</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/predetected-region-element.html"
                class="otherLinkColour"
                >PredetectedRegionElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/predetected-regions-unit.html"
                class="otherLinkColour"
                >PredetectedRegionsUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/region-object-element.html"
                class="otherLinkColour"
                >RegionObjectElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/scaled-down-colour-image-unit.html"
                class="otherLinkColour"
                >ScaledDownColourImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}scaled-up-barcode-image-unit.html"
                class="otherLinkColour"
                >ScaledUpBarcodeImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/text-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextRemovedBinaryImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/text-zones-unit.html"
                class="otherLinkColour"
                >TextZonesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-detection-result-unit.html"
                class="otherLinkColour"
                >TextureDetectionResultUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedBinaryImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedGrayscaleImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/transformed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TransformedGrayscaleImageUnit</a
              >
            </li>
          </ul>
        </li>
        <li lang="javascript">
          <a>Final Results</a>
          <ul lang="javascript">
            <li lang="javascript">
              <a
                href="{{ site.js_api }}barcode-result-item.html"
                class="otherLinkColour"
                >BarcodeResultItem</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/captured-result.html"
                class="otherLinkColour"
                >CapturedResult</a
              >
            </li>
            <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}core/basic-structures/captured-result-array.html" class="otherLinkColour">CapturedResultArray</a></li>-->
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/captured-result-item.html"
                class="otherLinkColour"
                >CapturedResultItem</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcodes-result.html"
                class="otherLinkColour"
                >DecodedBarcodesResult</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/original-image-result-item.html"
                class="otherLinkColour"
                >OriginalImageResultItem</a
              >
            </li>
            <!--<li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcodes-result-array.html"
                class="otherLinkColour"
                >DecodedBarcodesResultArray</a
              >
            </li>-->
            <!--
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}text-line-result-item.html" class="otherLinkColour">CTextLineResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}character-result.html" class="otherLinkColour">CCharacterResult</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-lines-result.html" class="otherLinkColour">CRecognizedTextLinesResult</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-lines-result-array.html" class="otherLinkColour">CRecognizedTextLinesResultArray</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quads-result-array.html" class="otherLinkColour">CDetectedQuadsResultArray</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-images-result-array.html" class="otherLinkColour">CNormalizedImagesResultArray</a></li>
                        <li lang="javascript"><a href="{{ site.dcp_js_api }}parsed-result-item.html" class="otherLinkColour">CParsedResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.dcp_js_api }}parsed-result.html" class="otherLinkColour">CParsedResult</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quad-result-item.html" class="otherLinkColour">DetectedQuadResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quads-result.html" class="otherLinkColour">DetectedQuadsResult</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-image-result-item.html" class="otherLinkColour">NormalizedImageResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-images-result.html" class="otherLinkColour">NormalizedImagesResult</a></li>
                        -->
          </ul>
        </li>
      </ul>
    </li>
    <li lang="javascript">
      <a
        href="{{ site.dcv_js_api }}utility/utility-module.html"
        class="otherLinkColour"
        >Utility</a
      >
      <ul lang="javascript">
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}utility/image-manager.html"
            class="otherLinkColour"
            >ImageManager</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}utility/multi-frame-result-cross-filter.html"
            class="otherLinkColour"
            >MultiFrameResultCrossFilter</a
          >
        </li>
        <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}utility/utility-module.html"  class="otherLinkColour">UtilityModule</a></li>-->
      </ul>
    </li>
    <li lang="javascript">
      <a>Detailed Barcode Results</a>
      <ul lang="javascript">
        <li lang="javascript">
          <a href="{{ site.js_api }}aztec-details.html" class="otherLinkColour"
            >AztecDetails</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.js_api }}barcode-details.html"
            class="otherLinkColour"
            >BarcodeDetails</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.js_api }}datamatrix-details.html"
            class="otherLinkColour"
            >DataMatrixDetails</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.js_api }}oned-code-details.html"
            class="otherLinkColour"
            >OneDCodeDetails</a
          >
        </li>
        <li lang="javascript">
          <a href="{{ site.js_api }}pdf417-details.html" class="otherLinkColour"
            >PDF417Details</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.js_api }}qr-code-details.html"
            class="otherLinkColour"
            >QRCodeDetails</a
          >
        </li>
      </ul>
    </li>
    <li lang="javascript">
      <a>SimplifiedSettings</a>
      <ul lang="javascript">
        <li lang="javascript">
          <a
            href="{{ site.js_api }}simplified-barcode-reader-settings.html"
            class="otherLinkColour"
            >SimplifiedBarcodeReaderSettings</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}capture-vision-router/interfaces/simplified-capture-vision-settings.html"
            class="otherLinkColour"
            >SimplifiedCaptureVisionSettings</a
          >
        </li>
      </ul>
    </li>
    <!--
        <li lang="javascript"><a>Settings</a>
            <ul lang="javascript">
                <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/structs/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                <li lang="javascript"><a href="{{ site.js_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                <li lang="javascript"><a href="{{ site.dlr_js_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li>
                <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/auxiliary-classes/preset-template.html"  class="otherLinkColour">PresetTemplate</a></li>
            </ul>
        </li>
        <li lang="javascript"><a>State Listener</a>
            <ul lang="javascript">
                <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/capture-state-listener.html" class="otherLinkColour">CaptureStateListener</a></li>
                <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/image-source-state-listener.html" class="otherLinkColour">ImageSourceStateListener</a></li>
            </ul>
        </li>
        <li lang="javascript"><a>Modules</a>
            <ul lang="javascript">
                <li lang="javascript"><a href="{{ site.dcv_js_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                <li lang="javascript"><a href="{{ site.js_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                <li lang="javascript"><a href="{{ site.dlr_js_api }}label-recognizer-module.html" class="otherLinkColour">LabelRecognizerModule</a></li>
                <li lang="javascript"><a href="{{ site.ddn_js_api }}document-normalizer-module.html" class="otherLinkColour">DocumentNormalizerModule</a></li>
                <li lang="javascript"><a href="{{ site.dcv_js_api }}core/basic-structures/core-module.html" class="otherLinkColour">CoreModule</a></li>
                <li lang="javascript"><a href="{{ site.dcv_js_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
                <li lang="javascript"><a href="{{ site.dcv_js_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
                <li lang="javascript"><a href="{{ site.dcv_js_api }}image-processing/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
            </ul>
        </li>
        -->
    <li lang="javascript">
      <a>Enumerations</a>
      <ul lang="javascript">
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}barcode-reader/barcode-format.html?lang=js"
            class="otherLinkColour"
            >BarcodeFormat</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/buffer-overflow-protection-mode.html?lang=js"
            class="otherLinkColour"
            >BufferOverflowProtectionMode</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/captured-result-item-type.html?lang=js"
            class="otherLinkColour"
            >CapturedResultItemType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}capture-vision-router/capture-state.html?lang=js"
            class="otherLinkColour"
            >CaptureState</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/colour-channel-usage-type.html?lang=js"
            class="otherLinkColour"
            >ColourChannelUsageType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/corner-type.html?lang=js"
            class="otherLinkColour"
            >CornerType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}barcode-reader/deblur-mode.html?lang=js"
            class="otherLinkColour"
            >DeblurMode</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/error-code.html?lang=js"
            class="otherLinkColour"
            >ErrorCode</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}barcode-reader/extended-barcode-result-type.html?lang=js"
            class="otherLinkColour"
            >ExtendedBarcodeResultType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/grayscale-transformation-mode.html?lang=js"
            class="otherLinkColour"
            >GrayscaleTransformationMode</a
          >
        </li>
        <!--<li lang="javascript"><a href="{{ site.enums }}core/image-capture-distance-mode.html?lang=js"  class="otherLinkColour">ImageCaptureDistanceMode</a></li>-->
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/image-pixel-format.html?lang=js"
            class="otherLinkColour"
            >ImagePixelFormat</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/image-source-state.html?lang=js"
            class="otherLinkColour"
            >ImageSourceState</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/image-tag-type.html?lang=js"
            class="otherLinkColour"
            >ImageTagType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/intermediate-result-unit-type.html?lang=js"
            class="otherLinkColour"
            >IntermediateResultUnitType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}barcode-reader/localization-mode.html?lang=js"
            class="otherLinkColour"
            >LocalizationMode</a
          >
        </li>
        <!--<li lang="javascript"><a href="{{ site.enums }}code-parser/mapping-status.html?lang=js"  class="otherLinkColour">MappingStatus</a></li>-->
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/pdf-reading-mode.html?lang=js"
            class="otherLinkColour"
            >PDFReadingMode</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}barcode-reader/qr-code-error-correction-level.html?lang=js"
            class="otherLinkColour"
            >QRCodeErrorCorrectionLevel</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/region-object-element-type.html?lang=js"
            class="otherLinkColour"
            >RegionObjectElementType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/section-type.html?lang=js"
            class="otherLinkColour"
            >SectionType</a
          >
        </li>
        <li lang="javascript">
          <a
            href="{{ site.dcv_enumerations }}core/target-type.html?lang=js"
            class="otherLinkColour"
            >TargetType</a
          >
        </li>
        <!--<li lang="javascript"><a href="{{ site.enums }}code-parser/validation-status.html?lang=js"  class="otherLinkColour">ValiadtionStatus</a></li>-->
        <!--<li lang="javascript"><a href="{{ site.enums }}core/video-frame-quality.html?lang=js"  class="otherLinkColour">VideoFrameQuality</a></li>-->
      </ul>
    </li>
  </ul>
</li>
<li lang="javascript" class="category">USEFUL RESOURCES</li>
<li lang="javascript">
  <a href="{{ site.js_release_notes }}index.html" class="otherLinkColour"
    >Release Notes</a
  >
  <ul>
    <li>
      <a href="{{ site.js_release_notes }}js-10.html" class="otherLinkColour"
        >Version 10.x</a
      >
    </li>
    <li>
      <a href="{{ site.js_release_notes }}js-9.html" class="otherLinkColour"
        >Version 9.x</a
      >
    </li>
    <li>
      <a href="{{ site.js_release_notes }}js-8.html" class="otherLinkColour"
        >Version 8.x</a
      >
    </li>
    <li>
      <a href="{{ site.js_release_notes }}js-7.html" class="otherLinkColour"
        >Version 7.x</a
      >
    </li>
  </ul>
</li>
<li>
  <a
    href="{{ site.js }}upgrade-guide/index.html"
    style="cursor: pointer; color: #3c3c3c"
    >Upgrade Instructions</a
  >
  <ul>
    <li>
      <a href="{{ site.js }}upgrade-guide/9to10.html" class="otherLinkColour"
        >Upgrade v9 to v10</a
      >
    </li>
    <li>
      <a href="{{ site.js }}upgrade-guide/8to9.html" class="otherLinkColour"
        >Upgrade v8 to v9</a
      >
    </li>
    <li>
      <a href="{{ site.js }}upgrade-guide/7to9.html" class="otherLinkColour"
        >Upgrade v7 to v9</a
      >
    </li>
    <li>
      <a href="{{ site.js }}upgrade-guide/7-notice.html" class="otherLinkColour"
        >EOS for v7.x</a
      >
    </li>
  </ul>
</li>
