<li><a href="{{ site.js }}" class="otherLinkColour">JavaScript</a>
        <ul>
                <li><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
                        <ul>
                                <li><a href="{{ site.js }}user-guide/#getting-started---hello-world"
                                                class="otherLinkColour">Getting
                                                Started</a></li>
                                <li><a href="{{ site.js }}user-guide/advanced-usage.html"
                                                class="otherLinkColour">Advanced Usage</a>
                                </li>
                        </ul>
                </li>
                <li><a href="{{ site.js }}samples-demos/index.html" class="otherLinkColour">Samples and Demos</a>
                        <ul>
                                <li><a style="cursor:pointer;color:#3c3c3c">Hello World</a>
                                        <ul>
                                                <li><a href="{{ site.js }}samples-demos/helloworld-minCode.html"
                                                                class="otherLinkColour">Minimal
                                                                Code</a></li>
                                                <li><a href="{{ site.js }}samples-demos/helloworld-readFile.html"
                                                                class="otherLinkColour">Read
                                                                an Image</a></li>
                                                <li><a href="{{ site.js }}samples-demos/helloworld-angular.html"
                                                                class="otherLinkColour">Hello
                                                                World in Angular</a></li>
                                                <li><a href="{{ site.js }}samples-demos/helloworld-reactjs.html"
                                                                class="otherLinkColour">Hello
                                                                World in React</a></li>
                                                <li><a href="{{ site.js }}samples-demos/helloworld-vuejs.html"
                                                                class="otherLinkColour">Hello
                                                                World in Vue</a></li>
                                        </ul>
                                </li>
                                <li><a href="{{ site.js }}samples-demos/ui-customization.html"
                                                style="cursor:pointer;color:#3c3c3c">UI
                                                Customization</a>
                                </li>
                                <li><a href="{{ site.js }}samples-demos/parameter-settings.html"
                                                style="cursor:pointer;color:#3c3c3c">Parameter Settings</a>
                                </li>
                                <li><a href="{{ site.js }}samples-demos/use-cases.html"
                                                style="cursor:pointer;color:#3c3c3c">Use Cases</a>
                                </li>
                                <li><a target="_blank" href="https://demo.dynamsoft.com/barcode-reader-js/"
                                                style="cursor:pointer;color:#3c3c3c">Main Demo</a>
                                </li>
                        </ul>
                </li>
                <li><a href="{{ site.js_api }}" class="otherLinkColour">API Reference</a>
                        <ul>
                                <li><a href="{{ site.js_api }}BarcodeReader.html" class="otherLinkColour">BarcodeReader
                                                for Images</a>
                                </li>
                                <li><a href="{{ site.js_api }}BarcodeScanner.html"
                                                class="otherLinkColour">BarcodeScanner for Video</a>
                                </li>
                                <li><a href="{{ site.js_api }}LicenseControl.html" class="otherLinkColour">License
                                                Control</a></li>
                                <li><a href="{{ site.js_api }}InitializationControl.html"
                                                class="otherLinkColour">Initialization
                                                Control</a></li>
                                <li><a href="{{ site.js_api }}InterfacesEnums.html" class="otherLinkColour">Interfaces
                                                and Enums</a>
                                        <ul>
                                                <li><a href="{{ site.js_api }}interface/LocalizationResult.html"
                                                                class="otherLinkColour">LocalizationResult</a></li>
                                                <li><a href="{{ site.js_api }}interface/Region.html"
                                                                class="otherLinkColour">Region</a></li>
                                                <li><a href="{{ site.js_api }}interface/RuntimeSettings.html"
                                                                class="otherLinkColour">RuntimeSettings</a></li>
                                                <li><a href="{{ site.js_api }}interface/ScannerPlayCallbackInfo.html"
                                                                class="otherLinkColour">ScannerPlayCallbackInfo</a></li>
                                                <li><a href="{{ site.js_api }}interface/ScanSettings.html"
                                                                class="otherLinkColour">ScanSettings</a></li>
                                                <li><a href="{{ site.js_api }}interface/TextResult.html"
                                                                class="otherLinkColour">TextResult</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}interface/VideoDeviceInfo.html"
                                                                class="otherLinkColour">VideoDeviceInfo</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumBarcodeColourMode.html"
                                                                class="otherLinkColour">EnumBarcodeColourMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumBarcodeComplementMode.html"
                                                                class="otherLinkColour">EnumBarcodeComplementMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumBarcodeFormat_2.html"
                                                                class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumBarcodeFormat.html"
                                                                class="otherLinkColour">EnumBarcodeFormat</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumBinarizationMode.html"
                                                                class="otherLinkColour">EnumBinarizationMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumClarityCalculationMethod.html"
                                                                class="otherLinkColour">EnumClarityCalculationMethod</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumClarityFilterMode.html"
                                                                class="otherLinkColour">EnumClarityFilterMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumColourClusteringMode.html"
                                                                class="otherLinkColour">EnumColourClusteringMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumColourConversionMode.html"
                                                                class="otherLinkColour">EnumColourConversionMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumConflictMode.html"
                                                                class="otherLinkColour">EnumConflictMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumDeblurMode.html"
                                                                class="otherLinkColour">EnumDeblurMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumDeformationResistingMode.html"
                                                                class="otherLinkColour">EnumDeformationResistingMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumDPMCodeReadingMode.html"
                                                                class="otherLinkColour">EnumDPMCodeReadingMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumErrorCode.html"
                                                                class="otherLinkColour">EnumErrorCode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumGrayscaleTransformationMode.html"
                                                                class="otherLinkColour">EnumGrayscaleTransformationMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumImagePixelFormat.html"
                                                                class="otherLinkColour">EnumImagePixelFormat</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumImagePreprocessingMode.html"
                                                                class="otherLinkColour">EnumImagePreprocessingMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumIMResultDataType.html"
                                                                class="otherLinkColour">EnumIMResultDataType</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumIntermediateResultSavingMode.html"
                                                                class="otherLinkColour">EnumIntermediateResultSavingMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumIntermediateResultType.html"
                                                                class="otherLinkColour">EnumIntermediateResultType</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumLocalizationMode.html"
                                                                class="otherLinkColour">EnumLocalizationMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumPDFReadingMode.html"
                                                                class="otherLinkColour">EnumPDFReadingMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumQRCodeErrorCorrectionLevel.html"
                                                                class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumRegionPredetectionMode.html"
                                                                class="otherLinkColour">EnumRegionPredetectionMode</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumResultCoordinateType.html"
                                                                class="otherLinkColour">EnumResultCoordinateType</a>
                                                </li>
                                                <li><a href="{{ site.js_api }}enum/EnumResultType.html"
                                                                class="otherLinkColour">EnumResultType</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumScaleUpMode.html"
                                                                class="otherLinkColour">EnumScaleUpMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumTerminatePhase.html"
                                                                class="otherLinkColour">EnumTerminatePhase</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumTextFilterMode.html"
                                                                class="otherLinkColour">EnumTextFilterMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumTextResultOrderMode.html"
                                                                class="otherLinkColour">EnumTextResultOrderMode</a></li>
                                                <li><a href="{{ site.js_api }}enum/EnumTextureDetectionMode.html"
                                                                class="EnumTextureDetectionMode">EnumTextureDetectionMode</a>
                                                </li>
                                        </ul>
                                </li>
                        </ul>
                </li>

                <li><a href="{{ site.js_release_notes }}" class="otherLinkColour">Release Notes</a>
                        <ul>
                                <li><a href="{{ site.js_release_notes }}js-8.html" class="otherLinkColour">Version
                                                8.x</a></li>
                                <li><a href="{{ site.js_release_notes }}js-7.html" class="otherLinkColour">Version 7.6
                                                and below</a>
                                </li>
                        </ul>
                </li>
                <li><a href="{{ site.js }}upgrade-guide/" class="otherLinkColour">Upgrade Instructions</a></li>
        </ul>
</li>